/* TEMPLATE STYLESHEET */

/*
Body text - #141414
Navigation (background) - white
Navigation (text colour) - #292929
Sections (background) - two complementary/contrasting colours - #E3EBC6, #DFDFDD
Link colours (all states) - base: #C61010 hover: #543DFF clicked: #BD0A49
*/

/* These are some suggested groupings for your stylesheet... */

/* Default styling styling for the body.*/

body {
    font-family: 'Roboto', sans-serif;
    /* update with Google font, web safe font and generic fallback */
    font-size: 100%;
    /* the default browser font size is 16px */
    line-height: 1.5;
    /* update to suit your type choices */
    color: #141414;
    /* base text colour - update to suit your design */
    transition: all 1s ease;

}

/* Improves default font styles for forms  */

input,
textarea {
    font-family: 'Roboto', helvetica, sans-serif;
    /* update with Google font, web safe font and generic fallback */
}

/* box sizing */

html {
    box-sizing: border-box;

    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* flexible content images code */

img {
    max-width: 100%;
    height: auto;
}

/* element styling (e.g. standard p, h1, h2, a, etc) */

h1,
h2 {
    font-weight: bold;
    font-family: 'Roboto', helvetica, sans-serif;
    /* Google font, web safe font, generic fallback */
    letter-spacing: normal;
    text-transform: capitalize;
    transition: all 2s ease;
}

h1 {
    font-size: 2rem;
    margin: 5px;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    transition: all 1s ease;
}

a:link {
    color: #C61010;
}

a:visited {
    color: #BD0A49;
}

a:focus {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

a:hover {
    color: #543DFF;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

a:active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* navigation (using flexbox) */
.page-header {
    background-color: #fff;
    background-image: url("../images/splashimg.jpg");
    /*CREDIT IMAGE*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.header-content {
    max-width: 500px;
    font-size: 1.35rem;
    color: white;
    text-align: center;
    padding: 10px;
}

.header-content h1+p {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 0.4em;
    font-size: 1.35rem;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-content a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 0.2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.header-content a:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
}

.header-content a:active {
    transform: translateY(0px);
}

.header-content h1 {
    text-shadow: 2px 2px 0 #000;
}


/* page header */
/* small screen code */
.page-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* Improve load times - do not re-render navbar every scroll */
    will-change: transform;
}

.page-nav ul {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: rgb(81, 121, 35);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-nav li {
    flex: 1 1 50%;
    display: flex;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.page-nav a {
    padding: 15px 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    transition: all 0.2s ease;
    color: white;
}

.page-nav a:hover {
    background: #eee;
    color: #000;
}

/* larger screen code */
@media screen and (min-width: 760px) {
    .page-nav ul {
        flex-wrap: nowrap;
    }

    .page-nav li {
        flex: 1 1 25%;
    }
}


/* main layout */
.container-content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* for equal spacing between top of content and bottom due to header padding */
    padding-bottom: 20px;
}

/* styling for the section content */

blockquote {
    font-style: italic;
    transition: all 1s ease;
}

table {
    transition: all 1s ease;
    margin: 10px;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #8fbc8f;
}

tr:nth-child(odd) {
    background-color: #006400;
}

th {
    background-color: #556b2f;
    color: white;
}

/* background colours for sections */
.about-me {
    background-color: #E3EBC6;
}

.cucumber {
    background-color: #DFDFDD;
}

.image-gallery {
    background-color: #E3EBC6;
}

.contact-me {
    background-color: #DFDFDD;
}

/* image gallery media queries and size overrides */
.image-gallery .container-content {
    max-width: 1200px;
    margin: 0 auto;
}

.image-gallery h2 {
    text-align: center;
    padding-bottom: 20px;
}

.image-gallery .an-image {
    margin: 0;
}

.image-gallery .image-caption {
    padding: 8px 0 30px 0;
}

@media screen and (min-width: 500px) {

    .image-gallery .image-container {
        display: flex;
    }

    .image-gallery .an-image {
        flex: 33%;
        padding: 20px;
        background: white;
    }

    .image-gallery .an-image+.an-image {
        margin-left: 20px;
    }

    .image-gallery .image-caption {
        padding-bottom: 0px;
    }

}

/* form styling */

.contact-me .container-content {
    text-align: center;
}

form label {
    text-align: left;
    display: block;
    /* instead of inline */
    padding-bottom: 0.2em;
    padding-top: 1em;
    /* Keep label and input area closer to box */
    margin-left: 20px;
}


form input,
form textarea {
    padding: 10px;
    font-size: 1em;
    /* lighter grey, less visually heavy */
    border: 1px solid rgb(124, 124, 124);
    border-radius: 0.2em;
    /* make sure our fields aren't too wide or not wide enough */
    min-width: 90%;
    max-width: 90%;
}

form input[type="submit"] {
    /* https://developer.mozilla.org/en/docs/Web/CSS/Attribute_selectors */
    /* if you used display:block; this would go right across the page - if you use inline-block the button will only be as wide as the text and the padding */
    min-width: 0;
    /* turn off a minimum width for the button and let the browser work it out */
    background-color: rgb(5, 163, 45);
    border: 0;
    border-radius: 0.2em;
    padding: 13px 30px;
    margin: 10px 0px;
    /* top and bottom, left and right */
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s ease;
    /* less jarring transition from initial colour to hover colour */
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: rgb(2, 124, 33);
    /* you don't have to change the colour too much for hover states - just make it a little bit lighter or darker */
}


/* footer */

.page-footer {
    background: #E3EBC6;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.footer-switch {
    width: 50px;
    height: 50px;
    position: fixed;
    background: rgb(113, 168, 250);
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}


.footer-switch:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
}

.footer-switch:active {
    transform: translateY(0px);
}

.js-modify-page .about-me {
    background-color: #153110;
}

.js-modify-page .cucumber {
    background-color: #202022;
}

.js-modify-page .image-gallery {
    background-color: #153110;
}

.js-modify-page .contact-me {
    background-color: #202022;
}

.js-modify-page body {
    color: #EBEBEB;
    background-color: #000;
}

.js-modify-page p a {
    color: #7b6df7;
}

.js-modify-page .page-footer {
    background: #153110;
}